url = "http://192.168.88.238:9001/"
port = 9001
socketPath = "Constellation2/socket.ipc"
otherNodeUrls = []
publicKeyPath = "Constellation2/node.pub"
privateKeyPath = "Constellation2/node.key"
archivalPublicKeyPath = "Constellation2/nodeArch.pub"
archivalPrivateKeyPath = "Constellation2/nodeArch.key"
storagePath = "Constellation2/data"
