url = "http://192.168.88.238:9000/"
port = 9000
socketPath = "Constellation/socket.ipc"
otherNodeUrls = ['http://192.168.88.238:9001/']
publicKeyPath = "Constellation/node.pub"
privateKeyPath = "Constellation/node.key"
archivalPublicKeyPath = "Constellation/nodeArch.pub"
archivalPrivateKeyPath = "Constellation/nodeArch.key"
storagePath = "Constellation/data"
